<p>
  Hey <%= @user.name %>,
</p>

<p>
  Thanks for joining! Your account is currently pending.
</p>

<p>
  Because we want to make sure the community remains a place only for ex-squares, approval is a manual process and may take a
  couple days. Please be patient :) In the meantime, maybe go watch the <a href="http://finance.yahoo.com/q?s=sq">stock price</a> or something?
</p>

<p>
  Cheers,
  <br />
  - Square Mafia Admin
</p>