<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>New Event</h1>

        <%= render 'form' %>

        <%= link_to 'Back', events_path %>
      </div>
    </div>
  </div>
</div>
