<div id="index-container" class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2><strong>We</strong> are the <strong>Square Mafia</strong>...</h2>
          <p class="lead">
            A community of former Square employees.
          </p>
          <p>
            We're engineers, supporters,
            designers, product managers, and more. Our paths diverged with Square, but
            our connections to each other live on.
          </p>

          <h3>What we do <strong>today</strong></h3>
          <p>
            We provide <strong>mailing lists</strong> and a <strong>directory</strong> to help our members
            keep in touch. We have also been known to organize the occasional <strong>happy hour</strong>.
          </p>

          <h3>What we will do <strong>in the future</strong></h3>
          <p>
            That's for you to decide! Right now we just facilitate the conversation.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Register</h3></div>
            <div class="panel-body">
              <div class="alert alert-warning">
                Coming Soon
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Login</h3></div>
            <div class="panel-body">
              <div class="alert alert-warning">
                Coming Soon
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
