<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="alert alert-warning" role="alert">
      <strong>Coming soon!</strong>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>