<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="lead">
          Slack!
        </p>
        <p>
          Yes, we have a private slack group!
        </p>
        <a href="https://squaremafia.slack.com" target="_blank">
          <button type="button" class="btn btn-primary">Open Slack</button>
        </a>
        or
        <a href="<%= slack_invite_path %>">
          <button type="button" class="btn btn-primary">Invite Yourself</button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>